* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

html {
  font-size: 62.5%;
}

.mainDiv {
  /* border: 2px solid red; */
  height: 100vh;
}

#content {
  padding: 6rem;
  width: 50%;
}

.heading {
  font-size: 5rem;
}

#head {
  font-weight: 700;
  color: #4C15F6;
}


/* .card {
  background: #F5F5F5;
  height: 50rem;
} */
.cardDiv form {
  /* border: 2px solid red; */
  background: white;
  padding: 4rem;
  border-radius: 1rem;
}

.cardDiv form span {
  background: white;
}

.name {
  width: 17rem;
  padding: 1rem 1rem;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

.input {
  width: 38rem;
  padding: 1rem 1rem;
  margin: 2rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background: white;
}

#warning {
  color: red;
  background-color: white;
  margin-top: -1.5rem;
  font-size: 1.4rem;
  display: none;
}

#check {
  color: #4C15F6;
}

#signupBtn {
  background-color: #4C15F6;
  border-radius: 0.4rem;
}

.text {
  font-size: 1.5rem;
  background: white;
}

#form ul {
  list-style: none;
  margin-bottom: 2rem;
}

.icons {
  color: #4F3BF7;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .mainDiv {
    flex-direction: column;
  }

  #content {
    width: 100%;
    margin-top: 10rem;
  }

  .heading {
    text-align: center;
  }

  #content p {
    text-align: justify;
  }

  .name {
    width: 14.5rem;
  }

  .input {
    width: 33rem;
  }

  .inp {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .cardDiv form {
    padding: 3rem;
    margin-right: 2rem;
  }

  .inp {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 60%;
  }

  #content {
    padding: 4rem;
  }

  .heading {
    font-size: 4rem;
  }

  .cardDiv form {
    padding: 2rem;
    margin-right: 2rem;
  }
}